* {
    margin: 0;
}
body {
    height: 80vh;
    background-color: #00203fff;
}
.header {
    background-color: #adefd1ff;
    color: #00203fff;
    height: 10vh;
    width:100%;
}
.header h1 {
    color: #00203fff;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
}

#results {
    display:flex;
    justify-content: center;
    padding: 10px;
}
#player_choice, #cpu_choice {
    background-color: whitesmoke;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 50%;
    display: flexbox;
    display: inline-flex;
    width: 200px;
    height: 200px;
    border: 15px solid #adefd1ff;
    padding: 20px;
    text-align: center;
}
#buttons {
    display: flex;
    justify-content: center;
}
button:hover {
    color: blue;
    background-color: #adefd1ff;
}
#rock, #paper, #scissors{
    border-radius: 50%;
    border: 10px solid #adefd1ff;
    margin: 5px;
    padding: 1%;
    width: 100px;
    height: 100px;

}
#restart {
    clear: both;
    text-align: center;
}
